body{
    background-color:#00bcff!important;
}
/* Fonts */
@font-face{ 
    font-family: 'Vera-Sans';
    src: url('Vera-webfont.eot');
    src: url('Vera-webfont.eot?iefix') format('eot'),
            url('Vera-webfont.woff') format('woff'),
            url('Vera-webfont.ttf') format('truetype'),
            url('Vera-webfont.svg#webfont') format('svg');
}
.container, .nav-link{
    font-family: 'Vera-Sans', Arial, sans-serif; 
}
/* ============================================================================= */
/* Index Page */

/* Logo */
.navbar-dark .navbar-brand{
    display:flex;
    justify-content:center;
    background-color:#292929;
    margin:auto;
}
.navbar-brand{
    padding-top:3%!important;
    padding-bottom:3%!important;
}
/* Navbar */
.navbar-dark{
    background-color:#292929;
}
/* Navbar Links */
.nav-link{
    border-right:solid 1px #fff400;
    font-size:20px;
}
/* Consultation Box */
.consultation{
    background-color:#464747;
    height:100%;
    text-align: center;
}
/* Index Box 1 */
.index-box-1{
    background-color:#292929;
    color:white;
    height:100%;
    padding-top:30%;
    text-align: center;
}
/* Call Now Box */
.consult{
    color:white;
    animation-name:colorcycle;
    animation-duration:10s;
    animation-iteration-count:infinite;
}
@-webkit-keyframes colorcycle{
    0%{
        
        color: white;
      }
            
      50% {
        
        color: #fff400;
      }

      100% {
          color:white;
      }
}
/* Call Now Button */
.btn-call-now{
    background-color:#292929;
    color:#fff400;
    border-radius:50px;
    font-size:2rem;
    padding:1%;
}
.btn-call-now:hover{
    transition: 0.5s;
    color:White;
    background-color:#1d1d1d7e;
}
.btn-call-now a{
    color:inherit;
    text-decoration:none;
}
.btn-call-now a:hover{
    color:inherit;
    text-decoration:none;
}
/* Index Box 2 */
.index-box-2{
    background-color:#292929;
    color:white;
    height:100%;
    padding-top:15%;
    text-align: center;
}
/* More Details */
.more_details{
    background-color:#292929;
    height:100%;
    padding:2%;
}
/* Index Box Title */
.index-box-title{
    color:white;
}
/* Index Box 3 */
.index-box-title{
    text-align: center;   
}
.index-box-3{
    color:white;
    text-align: center;
}
.title-breaker{
    width:75%;
    background-color:white;
}
/* Service Sliders */
.service-carousel .carousel-inner{
    aspect-ratio: 4 / 3;
    overflow: hidden;
}

.service-carousel .carousel-item,
.service-carousel .carousel-item img{
    width: 100%;
    height: 100%;
}

.service-carousel .carousel-item img{
    object-fit: cover;
}
/* Services List */
.list-group{
    list-style:none;
}
/* Services Button */
.btn.btn-warning.btn-call{
    background-color:#fff400;
    color:white;
}
.btn.btn-warning.btn-call a:hover{
    text-decoration:none;
}
.btn.btn-warning.btn-call:hover{
    background-color:#c9bf01;
}
/* Service Box 1 */
.service-box-1{
    background-color:#292929;
    color:white;
    padding:4%;
    text-align: center;
}
.service-box-2{
    background-color: #292929;
    width:100%;
}
/* Testimonials Heading */
.testimonial-heading{
    background-color:#292929;
    color:rgb(187, 187, 187);
    padding: 2%;
}
.testimonials{
    font-size:1.2rem;   
}
.review{
    margin-top:3%;
    padding:2%;
    background-color:white;
    border-radius:10%;
    color:#292929;
}
.client{
    font-size:1.2rem;
    text-align:right;
}
.blockquote{
    background-color: white;
    padding: 5%;
    border-radius:50px;
}
/* Contact Page */
#contact{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

#contact .section-content{
    margin-bottom: 1.5rem;
}

.btn.btn-info.btn-contact-call{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn.btn-info.btn-contact-call:hover{
    color:#fff400;
}

.contact-form-box{
    background-color:#292929;
    border-radius: 1rem;
    padding: 1.5rem;
}
#contact{
  width: 100%;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #00bcff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #00bcff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}


.form-line{
    border-right: none;
}

@media (min-width: 768px) {
    .form-line{
        border-right: 1px solid #B29999;
    }
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
    font-size: 1.1em;
}
/* ================================================================== */

/* Media Queries */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .consult{
        font-size:1.5rem;
    }
    .btn-call-now{
        font-size:1.5rem
    }
    .index-box-1{
        padding-top:10%;
    }
    .index-box-2{
        padding-top:5%;
    }  
 }

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up) */
@media (max-width: 1199.98px) {  }